@import url(//fonts.googleapis.com/css?family=Source+Code+Pro:500,700);

body {
  margin: 40px;
  background: black;
  color: limegreen;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
}

.input {
  background: lightyellow;
}

.button {
  font-weight: bold;
  background: green;
  border-radius: 5px;
}

